<div class="container">
  <div class="row row--mg">
    <button (click)="goBack()" class="btn btn-primary">← Вернуться назад</button>
  </div>
  <div *ngIf="filmData; else loadBlock" class="row">
    <img [attr.src]="filmData.poster">
    <div class="col">
      <h1>{{filmData.title}}</h1>
      <div class="row">
        <div class="col-auto">
          <p>Дата выпуска: </p>
          <p>Актеры: </p>
        </div>
        <div class="col-auto">
          <p>{{filmData.released}}</p>
          <p>{{filmData.actors}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">{{filmData.plot}}</div>
      </div>
    </div>
</div>


<ng-template #loadBlock>Загрузка</ng-template>
